/*.icons{
    text-align:center;
    margin-right: 20px;
}
.fa-solid.fa-house-chimney.fa-5x{
    color:rgb(0, 0%, 66%);
}
.fa-solid.fa-house-chimney.fa-5x:hover{ (ao passar o mouse em cima do icone ele muda de cor)
    color:rgb(0, 0%, 76%);
}
.a-brands.fa-tiktok.fa-5x{
    color: black;
}
.fa-brands.fa-instagram.fa-5x{
    color: rgb(171, 34, 171);
}
.fa-brands.fa-youtube.fa-5x{
    color:red;
} */